$lightblue : #cde7f0;
$important : 'Domine', serif;




.sidebar{
  background: $lightblue;
  height: 50vh;
  padding-right: 70px;
  padding-left: 70px;
  @media (min-width: 768px) {
    padding-right: 70px;
    padding-left: 85px;
    height: 100vh;
  }
  @media (min-width: 1200px) {
    padding-right: 70px;
    padding-left: 85px;
  }
  .results {
    text-align: center;
  }
}

h2 {
  font-family: $important;
}

.img-circle {
  margin-top: 20px;
  border-radius: 20px;
}

.rating {
  max-height: 14px;
  display: inline-block
}
