$lightblue : #cde7f0;
$important : 'Crete Round', serif;




.profile {
  margin-top: 20px;
}

h2 {
  font-family: $important;
  font-size: 72px;
}

.img-circle {
  border-radius: 20px;
  @media (min-width: 600px){
    float: right;
  }

}

.rating {
  max-height: 14px;
  display: inline-block
}

h7 {
  display: block;
}
